<h1>Product Reviews</h1>
<em>The most comprehensive product review service on the web!</em>
<br><br>
<h4>Recently Added Products</h4>
<ul>
  <% @recently_added.each do |product| %>
  <li><%= link_to product.name, product_path(product) %> - <%= time_ago_in_words(product.created_at) %> ago</li>
  <% end %>
</ul>
<h4>Most Reviewed Products</h4>
<ul>
  <% @most_reviews.each do |product| %>
  <li><%= link_to product.name, product_path(product) %> - <%= product.reviews.count %> reviews</li>
  <% end %>
</ul>
<h4>Highest Rated Products</h4>
<ul>
  <% @highest_rated.each do |product| %>
  <li><%= link_to product.name, product_path(product) %> - <%= product.reviews.average(:rating).round(2) %> / 5</li>
  <% end %>
</ul>
