<h1><%= @product.name %></h1>
<ul>
  <li>Cost: $<%= @product.cost %></li>
  <li>Country: <%= @product.country %></li>
  <li>Average Rating: <%= @product.reviews.average(:rating).round(2) %> / 5</li>
</ul>

<h4>Reviews for <%= @product.name %></h4>
<% if @product.reviews.any? %>
  <ul>
    <% @product.reviews.each do |review| %>
      <li><a href="<%= product_review_path(@product, review) %>"><%= review.author %></a> - <% review.rating.times do %><span class="star">★</span><% end %></li>
    <% end %>
  </ul>
<% else %>
  <em>This product has 0 reviews, <%= link_to "Add one now!", new_product_review_path(@product) %></em>
<% end %>

<hr>
<span><%= link_to "Edit", edit_product_path(@product) %></span> |
<span><%= link_to "Delete", product_path(@product.id), :data => {:confirm => "You sure?", :method => "delete"} %></span> |
<span><%= link_to "Return to products", products_path %></span> |
<span><%= link_to "Add a review", new_product_review_path(@product) %></span>
