<h1><%= @product.name %></h1>
<ul>
  <li>Cost: $<%= @product.cost %></li>
  <li>Country: <%= @product.country %></li>
</ul>

<hr>
<span><%= link_to "Edit", edit_product_path(@product) %></span> |
<span><%= link_to "Delete", product_path(@product), :data => {:confirm => "You sure?", :method => "delete"} %></span> |
<span><%= link_to "Return to products", products_path %></span>
