<!DOCTYPE html>
<html>
  <head>
    <title>ProductReviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="my-nav">
      <div class="container">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Products", products_path %></li>
          <li><%= link_to "Add a product", new_product_path %></li>

          <% if current_user %>
            <li class="li-right"><span class="user"><%= current_user.email %></span> | <%= link_to "Sign out", signout_path %></li>
          <% else %>
            <li class="li-right"><%= link_to "Sign up", signup_path %></li>
            <li class="li-right"><%= link_to "Log in", signin_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="container">
        <p id="notice"><%= notice %></p>
        <p id="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
    <div class="my-footer">
      Product Reviews &copy; <%= Date.today.year %>
    </div>
  </body>
</html>
